:root {
    --color--light-gray: #D4D4D4;
    --color--medium-gray: #666;
    --color--blue: #1431AF;
    --color--light-blue: #0080FF;
    --color--dark-blue: #233A5B;

    --font--main: source-serif-pro, serif;
}

.leaflet-container {
    font-family: var(--font--main);
}

body {
    padding: 0;
    margin: 0;
    color: white;
    background: var(--color--dark-blue);
    font-family: var(--font--main);
    line-height: 1.1rem;
}

button {
    color: white;
    font-family: var(--font--main);
    line-height: 1.1rem;
    font-size: 1rem;
}

.map-section {
    height: 36.1875rem;

    display: flex;
    flex-direction: row;
    background: var(--color--dark-blue);
}

.map-section__map-wrapper {
    flex: 1 1 auto;
    height: 100%;
}

.map-section__map {
    width: 100%;
    height: 100%;
}

.map-section__info-panel {
    background-color: var(--color--dark-blue);
}

.map-section__info-panel__wrapper {
    flex: 0 0 27rem;

    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 23px 24px 0 8px;
    background: #3F3F41;

    overflow-y: auto;
}



.map-section__info-panel-wrapper--hidden {
    display: inline-flex;
    position: absolute;
    top: 1.5rem;
    right: 1.8rem;

    width: 18rem;
    height: 3rem;

    padding: 0;


    z-index: 100000;
}

.map-section__info-panel-wrapper--hidden .map-section__info-panel-body,
.map-section__info-panel-wrapper--hidden .map-section__info-panel-header {
    display: none;
}

.map-section__info-panel__pre-header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-left: auto;

    /* Same as above! */
    width: 18rem;
    height: 3rem;
}

.map-section__info-panel-wrapper--hidden .map-section__info-panel__pre-header {
    justify-content: center;
}

.map-section__info-panel__pre-header__title {
    color: white;
    border-right: 1px solid rgba(255,255,255,0.6);
    font-size: 0.75rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;

    display: none;
}
.map-section__info-panel-wrapper--hidden .map-section__info-panel__pre-header__title {
    display: block;
}

#map-section__info-panel-header__show-panel,
#map-section__info-panel-header__hide-panel {
    background: none;
    border: 0;
    color: white;
    cursor: pointer;
    font-size: 0.7rem;
    white-space: nowrap;
}

#map-section__info-panel-header__hide-panel img {
    rotate: 180deg;
}

#map-section__info-panel-header__show-panel {
    display: none;
}

.map-section__info-panel-wrapper--hidden #map-section__info-panel-header__show-panel {
    display: block;
}

.map-section__info-panel-wrapper--hidden #map-section__info-panel-header__hide-panel {
    display: none;
}


.map-section__info-panel-header {
    padding: 0.2rem 1.5rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/* Top Level Tabs */

.map-section__tabs-wrapper {
    margin-bottom: 0.8rem;
}

.map-section__tabs {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.map-section__tab {

}

.map-section__tab button {
    border: 0;
    background: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    z-index: 1;
    position: relative;
}

.map-section__tab button[aria-selected=true]::after {
    content: "";
    display: block;
    width: calc(100% + 8px);
    height: 9px;
    background: var(--color--light-blue);
    position: relative;
    left: -4px;
    top: -8px;
    z-index: -1;
}

/* Tab Body */

.map-section__info-panel-body {
    display: flex;
    flex-direction: column;

}


.map-section__info-panel-body h3 {
    font-size: 1.875rem;
    line-height: 1.2;
    font-weight: 400;
}

.map-section__info-panel-body--us {
    padding: 0 1.5rem 1.5rem 1.5rem;
    font-size: 0.9rem;
}

.map-section__info-panel-body[aria-hidden=true] {
    display: none;
}



/*  Specific to the state pane */

.map-section__info-panel__state-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2.1rem;
}

.map-section__info-panel-state__back {
    margin-left: auto;
    height: 1.65rem;
    border: 0;
    font-size: 0.75rem;
    padding: 3.5px 12px;

    display: flex;
    align-items: center;
    flex-direction: row;
    background: #0080FF;
    border-radius: 318px;
    color: white;
}

h3#info-panel-state__title {
    font-size: 1.9rem;
    line-height: 1.2;
    margin: 0;
}

.map-section__info-panel-state__back:before {
    content: "";
    display: block;
    width: 8.84px;
    height: 7.62px;
    margin-right: 3px;
    background-image: url(./images/white-left-arrow.svg);
}

.map-section__info-panel-field-label {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}

ul#info-panel-state__states {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul#info-panel-state__states button {
    background: transparent;
    cursor: pointer;
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 0.95rem;
    line-height: 2.75em;
    align-items: center;
    border: 0;
}

ul#info-panel-state__states button:before {
    content: "";
    display: block;
    width: 18px;
    height: 24px;
    margin-right: 2rem;
    background-image: url(./images/marker.svg);
}

ul#info-panel-state__states button:after {
    content: "";
    display: block;
    width: 20px;
    height: 17.23px;
    margin-left: auto;
    background-image: url(./images/arrow.svg);
}

.map-section__info-panel-state {
    padding: 35px 23px 23px 23px;
}

.map-section__info-panel-state__counts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.map-section__info-panel-state__counts .map-section__info-panel-field {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.map-section__info-panel__icon {
    width: 3.5rem;
    height: 3.5rem;
    margin-bottom: 1rem;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.info-panel-state__count {
    font-size: 1.2rem;
}

.map-section__info-panel-state_count-label {
    font-size: 1rem;
    line-height: 1.1;
}



.map-section__info-panel-state[aria-hidden=true] {
    display: none;
}

.map-section__info-panel-person[aria-hidden=true] {
    display: none;
}








/* Student Profiles tab */

ul#info-panel-person__people {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul#info-panel-person__people button {
    background: transparent;
    cursor: pointer;
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 0.9rem;
    line-height: 2.75em;
    align-items: center;
    border: 0;
}

ul#info-panel-person__people button:before {
    content: "";
    display: block;
    width: 18px;
    height: 24px;
    margin-right: 2rem;
    background-image: url(./images/marker.svg);
}

ul#info-panel-person__people button:after {
    content: "";
    display: block;
    width: 20px;
    height: 17.23px;
    margin-left: auto;
    background-image: url(./images/arrow.svg);
}

/* Individual Profile */

#map-section__info-panel-person__back {
    width: 7.5rem;
    font-size: 0.8rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: #0080FF;
    border-radius: 360px;
    color: white;
    border: 1px solid #0080FF;
    margin: 3.2rem 3.5rem 1.6rem auto;
    cursor: pointer;
}

#map-section__info-panel-person__back:hover {
    background: transparent;
    color: #0080FF;
}

.map-section__info-panel-person--data {
    display: flex;
    flex-direction: column;
}

.map-section__info-panel-person__header {
    background: white;
    color: black;
    position: relative;
    padding: 20px 10px;
}

.map-section__info-panel-person--has-image {
    padding-top: 56px;
    margin-top: 41px;
}

.map-section__info-panel-person-photo {
    border-radius: 50%;
    width: 112px;
    height: 112px;
    margin: 0 auto;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.map-section__info-panel-person--has-image .map-section__info-panel-person-photo {
    display: block;
}

.map-section__info-panel-person--data h3 {
    text-align: center;
}

#info-panel-student__employer,
#info-panel-student__school {
    font-size: 1rem;
    line-height: 1.1rem;
    text-align: center;
}

/* Hide field labels  */
.map-section__info-panel-field-label {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}